<template>
    <div>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto">
            <el-form-item label="이름" prop="memberName">
                <el-input v-model="ruleForm.memberName" placeholder="이름을 입력해주세요"></el-input>
            </el-form-item>
            <el-form-item label="직급" prop="memberGroup">
                <el-select v-model="ruleForm.memberGroup" placeholder="직급을 선택해주세요">
                    <el-option label="매니저" value="ROLE_MANAGER"></el-option>
                    <el-option label="사원" value="ROLE_EMPLOYEE"></el-option>
                    <el-option label="알바" value="ROLE_PART_TIME"></el-option>
                </el-select>
            </el-form-item>
            <el-form-item label="연락처" prop="contact">
                <el-input v-model="ruleForm.contact" placeholder="연락처를 입력해주세요"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click.native="doPutData">수정</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>
<script>
export default {
    asyncData({params}) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            id: null,
            ruleForm: {
                memberName: '',
                memberGroup: '',
                contact: '',
            },
            rules: {
                memberName: [
                    {required: true, message: '이름을 입력해주세요', trigger: 'blur'},
                    {min: 2, max: 20, message: '2~20자 내로 입력해주세요.', trigger: 'blur'}
                ],
                memberGroup: [
                    {required: true, message: '직급을 선택해주세요', trigger: 'change'}
                ],
                contact: [
                    {required: true, message: '연락처를 입력해주세요', trigger: 'blur'},
                    {min: 13, max: 13, message: '010-0000-0000 형식으로 입력해주세요.', trigger: 'blur'}
                ],
            }
        };
    },
    methods: {
        doPutData() {
            let formName = 'ruleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.putData()
                } else {
                    return false
                }
            })
        },
        putData() {
            let payload = {
                id: this.id,
                list: {
                    memberName: this.ruleForm.memberName,
                    memberGroup: this.ruleForm.memberGroup,
                    contact: this.ruleForm.contact
                }
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$memberConstants.DO_UPDATE, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/member/list`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'STAFF_EDIT')
    },
}
</script>
