<template>
    <div v-if="detailInfo != null" >
        <el-descriptions border>
            <el-descriptions-item label="상품명">{{ detailInfo.productName }}<br /></el-descriptions-item>
            <el-descriptions-item label="재고수량">{{ detailInfo.stockQuantity }}<br /></el-descriptions-item>
            <el-descriptions-item label="최소기준수량">{{ detailInfo.minQuantity }}</el-descriptions-item>
        </el-descriptions>
    </div>
</template>
<script>
export default {
    middleware: 'auth',
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    validate({ params }) {
        return /^\d+$/.test(params.id)
    },
    data() {
        return {
            id: null,
            detailInfo: null,
            ruleForm: {
            },
        }
    },
    methods: {
        async getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$stockConstants.DO_LIST_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.data
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
    },
    created() {
        this.getDetail()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_DETAIL')
    },
}
</script>
