<template>
    <div>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto">
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="상품 타입" prop="sellProductType">
                        <el-select v-model="ruleForm.sellProductType" placeholder="please select your zone">
                            <el-option label="커피" value="COFFEE"></el-option>
                            <el-option label="논커피" value="NON-COFFEE"></el-option>
                            <el-option label="에이드" value="ADE"></el-option>
                            <el-option label="티" value="TEA"></el-option>
                            <el-option label="디저트" value="DESSERT"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="상품명" prop="productName">
                        <el-input v-model="ruleForm.productName"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="단가" prop="unitPrice">
                        <el-input v-model="ruleForm.unitPrice"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col>
                    <el-form-item>
                        <el-button type="primary" class="size-full" @click="doSetData()">등록</el-button>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</template>

<script>
export default {
    // middleware: 'auth',
    data() {
        return {
            value1: true,
            ruleForm: {
                sellProductType: '',
                productName: '',
                unitPrice: '',
            },
            rules: {
                sellProductType: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { message:'1~20자 내로 입력해주세요.', trigger: 'blur'}
                ],
                productName: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { min:1, max:20, message:'1~20자 내로 입력해주세요.', trigger: 'blur'}
                ],
                unitPrice: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
            }
        }
    },
    methods: {
        doSetData() {
            let formName = 'ruleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setData()
                } else {
                    return false
                }
            })
        },
        setData() {
            let payload = {
                sellProductType: this.ruleForm.sellProductType,
                productName: this.ruleForm.productName,
                unitPrice: Number(this.ruleForm.unitPrice),
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$sellProductConstants.DO_CREATE, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/sell-product/list`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'SELL_PRODUCT_ADD')
    },
}
</script>

