<template>
    <div v-if="detailInfo != null" >
        <el-descriptions title="Customized style list" :column="3" border>
            <el-descriptions-item label="게시글 번호" label-class-name="my-label" content-class-name="my-content">{{ detailInfo.id }}<br /></el-descriptions-item>
            <el-descriptions-item label="제목">{{ detailInfo.title }}<br /></el-descriptions-item>
            <el-descriptions-item label="작성시간">{{ detailInfo.dateWrite }}</el-descriptions-item>
        </el-descriptions>
        <el-descriptions :column="1" border>
            <el-descriptions-item label="내용">{{ detailInfo.content }}<br /></el-descriptions-item>
        </el-descriptions>
    </div>
</template>
<script>
export default {
    middleware: 'auth',
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    validate({ params }) {
        return /^\d+$/.test(params.id)
    },
    data() {
        return {
            id: null,
            detailInfo: null,
            ruleForm: {
            },
        }
    },
    methods: {
        async getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$boardConstants.DO_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.data
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
    },
    created() {
        this.getDetail()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MEMBER_DETAIL')
    },
}
</script>
