<template>
    <el-descriptions title="게시글 리스트 상세보기" direction="vertical" :column="2" border>
        <el-descriptions-item label="제목">점장 엄예린씨가 마음에 안들어요</el-descriptions-item>
        <el-descriptions-item label="작성일">2023-10-19</el-descriptions-item>
        <el-descriptions-item label="내용">제곧내</el-descriptions-item>
    </el-descriptions>
</template>

<script>

</script>
