<template>
    <div>
        <h1>이름 : {{ peopleName }}님</h1>
        <h2>연락처 : {{ peoplePhone }}</h2>
        <h3>나이 : {{ peopleAge }}세</h3>
    </div>
</template>
<script>
export default {
    props: {
        peopleName: {
            type: String,
            require: true
        },
        peoplePhone: {
            type: String,
            require: true
        },
        peopleAge: {
            type: Number,
            require: true
        }
    }
}
</script>
