<template>
    <div>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="120px" class="demo-ruleForm">
            <el-form-item>
                <el-input type="file"/>
                <el-button @click="resetForm('ruleForm')">Reset</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>
<script>
export default {
    data() {
        return {
            ruleForm: {
                date1: '',
                date2: '',
                delivery: false,
                type: [],
                resource: '',
                desc: ''
            },
            rules: {
                name: [
                    {required: true, message: 'Please input Activity name', trigger: 'blur'},
                    {min: 3, max: 5, message: 'Length should be 3 to 5', trigger: 'blur'}
                ],
                region: [
                    {required: true, message: 'Please select Activity zone', trigger: 'change'}
                ],
                date1: [
                    {type: 'date', required: true, message: 'Please pick a date', trigger: 'change'}
                ],
                date2: [
                    {type: 'date', required: true, message: 'Please pick a time', trigger: 'change'}
                ],
                type: [
                    {
                        type: 'array',
                        required: true,
                        message: 'Please select at least one activity type',
                        trigger: 'change'
                    }
                ],
                resource: [
                    {required: true, message: 'Please select activity resource', trigger: 'change'}
                ],
                desc: [
                    {required: true, message: 'Please input activity form', trigger: 'blur'}
                ]
            }
        };
    },

    methods: {
        submitForm(formName) {
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    alert('submit!');
                } else {
                    console.log('error submit!!');
                    return false;
                }
            });
        },
        handleRemove(file, fileList) {
            console.log(file, fileList);
        },
        handlePreview(file) {
            console.log(file);
        },
        handleExceed(files, fileList) {
            this.$message.warning(`The limit is 3, you selected ${files.length} files this time, add up to ${files.length + fileList.length} totally`);
        },
        beforeRemove(file, fileList) {
            return this.$confirm(`Cancel the transfert of ${file.name} ?`);
        },
        resetForm(formName) {
            this.$refs[formName].resetFields();
        }
    }
}

</script>
