<template>
    <div>
        <el-table
            :data="list"
            style="width: 100%">
            <el-table-column
                prop="id"
                label="No.">
            </el-table-column>
            <el-table-column
                prop="dateSell"
                label="판매일">
            </el-table-column>
            <el-table-column
                prop="productName"
                label="상품명">
            </el-table-column>
            <el-table-column
                prop="price"
                label="금액">
            </el-table-column>
        </el-table>
    </div>
</template>

<script>
export default {
    data() {
        return {
            list: [],
            page: 1,
            totalItemCount: 0,
        }
    },
    methods: {
        setPage(page) {
            this.page = page
            this.getList()
        },
        getList() {
            let payload = {
                page: this.page,
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$sellConstants.DO_LIST, payload)
                .then((res) => {
                    this.list = res.data.list
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveCreate() {
            this.$router.push(`/sell/add`)
        },
        moveDetail(row) {
            let linkBaseUrl = '/sell/detail/'
            let id = row.id
            this.$router.push(`${linkBaseUrl}${id}`)
        },
    },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'STAFF_LIST')
    },
}
</script>
