<template>
    <div>
        <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto">
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="상품 타입" prop="sellProductType">
                        <el-select v-model="ruleForm.region" placeholder="please select your zone">
                            <el-option label="커피" value="coffee"></el-option>
                            <el-option label="논커피" value="non-coffee"></el-option>
                            <el-option label="에이드" value="ade"></el-option>
                            <el-option label="티" value="tea"></el-option>
                            <el-option label="디저트" value="dessert"></el-option>
                        </el-select>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="상품명" prop="sellProductName">
                        <el-input v-model="ruleForm.sellProductName"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="상태" prop="isEnabled">
                        <el-tooltip :content="'Switch value: ' + value" placement="top">
                            <el-switch
                                v-model="value"
                                active-color="#13ce66"
                                inactive-color="#ff4949"
                                active-value="100"
                                inactive-value="0">
                            </el-switch>
                        </el-tooltip>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col :span="8">
                    <el-form-item label="단가" prop="unitPrice">
                        <el-input v-model="ruleForm.unitPrice"></el-input>
                    </el-form-item>
                </el-col>
            </el-row>
            <el-row :gutter="15">
                <el-col>
                    <el-form-item>
                        <el-button type="primary" class="size-full" @click="doSetData()">등록</el-button>
                    </el-form-item>
                </el-col>
            </el-row>
        </el-form>
    </div>
</template>

<script>
export default {
    // middleware: 'auth',
    data() {
        return {
            value: '100',
            value1: true,
            ruleForm: {
                sellProductName: '',
                sellProductType: '',
                unitPrice: '',
                isEnabled: '',
            },
            rules: {
                sellProductType: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { min:1, max:15, message:'1~20자 내로 입력해주세요.', trigger: 'blur'}
                ],
                sellProductName: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                    { min:2, max:20, message:'1~20자 내로 입력해주세요.', trigger: 'blur'}
                ],
                unitPrice: [
                    { required: true, message: '이 값은 필수입니다.', trigger: 'blur'},
                ],
            }
        }
    },
    methods: {
        doSetData() {
            let formName = 'ruleForm'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setData()
                } else {
                    return false
                }
            })
        },
        setData() {
            let payload = {
                sellProductName: this.ruleForm.sellProductName,
                sellProductType: this.ruleForm.sellProductType,
                unitPrice: Number(this.ruleForm.unitPrice),
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$testDataConstants.DO_CREATE, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/sell-product/list`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'SELL_PRODUCT_ADD')
    },
}
</script>
