<template>
    <div>
        <card-people
            v-for="(item, index) in testList"
            v-bind:key="index"
            v-bind:people-name="item.name"
            v-bind:people-phone="item.phoneNumber"
            v-bind:people-age="item.age"
        />
    </div>
</template>
<script>
export default {
    middleware: 'auth',
    data() {
        return {
            testList: [
                {
                    name: '홍길동',
                    phoneNumber: '010-0000-0000',
                    age: 30
                },
                {
                    name: '박시우',
                    phoneNumber: '010-0000-0001',
                    age: 50
                },
                {
                    name: '엄윤호',
                    phoneNumber: '010-0000-0002',
                    age: 70
                },
            ]
        }
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'DASH_BOARD')
    },
}
</script>
