<template>
    <div>
        <div class="flex-box">
            <div class="flex-box">
                <el-input class="mr-1" v-model="searchName" placeholder="이름"></el-input>
                <el-select class="mr-1" v-model="searchGroup" placeholder="직급">
                    <el-option label="매니저" value="ROLE_MANAGER"></el-option>
                    <el-option label="사원" value="ROLE_EMPLOYEE"></el-option>
                    <el-option label="알바" value="ROLE_PART_TIME"></el-option>
                </el-select>
                <el-select class="mr-1" v-model="searchEnable" placeholder="재직여부">
                    <el-option label="O" value="O"></el-option>
                    <el-option label="X" value="X"></el-option>
                </el-select>
                <el-button type="success" circle @click.native="getList">검색</el-button>
            </div>
            <div>
                <el-button type="success" circle @click.native="moveCreate()">등록</el-button>
            </div>
        </div>
        <el-table
            :data="list"
            class="mt-2 mb-2"
            style="width: 100%"
            @row-click="moveDetail">
            <el-table-column
                align="center"
                prop="id"
                label="No."
                width="80">
            </el-table-column>
            <el-table-column
                align="center"
                prop="memberName"
                label="이름">
            </el-table-column>
            <el-table-column
                align="center"
                prop="memberGroup"
                label="직급"
                width="100">
            </el-table-column>
            <el-table-column
                align="center"
                prop="contact"
                label="연락처"
                width="150">
            </el-table-column>
            <el-table-column
                align="center"
                prop="isEnabled"
                label="재직여부"
                width="150">
            </el-table-column>
        </el-table>
        <el-pagination
            background
            small
            layout="prev, pager, next"
            :total="totalItemCount"
            :current-page="page"
            @current-change="setPage">
        </el-pagination>
    </div>
</template>
<script>

export default {
    middleware: 'auth',
    data() {
        return {
            list: [],
            page: 1,
            totalItemCount: 0,

            searchName: null,
            searchGroup: null,
            searchEnable: null
        }
    },
    methods: {
        setPage(page) {
            this.page = page
            this.getList()
        },
        getList() {
            let payload = {
                page: this.page,
                params: {
                    searchName: this.searchName,
                    searchGroup: this.searchGroup,
                    searchEnable: this.searchEnable
                }
            }
            console.log(this.searchEnable)
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$memberConstants.DO_LIST, payload)
                .then((res) => {
                    this.list = res.data.list
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveCreate() {
            this.$router.push(`/member/form`)
        },
        moveDetail(row) {
            let linkBaseUrl = '/member/detail/'
            let id = row.id
            this.$router.push(`${linkBaseUrl}${id}`)
        },
    },
    created() {
        this.getList()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'STAFF_LIST')
    },
}
</script>
<style>
    .flex-box {
        display: flex;
        justify-content: space-between;
    }
    .el-table__row {
        cursor: pointer;
    }
</style>
