<template>
    <div v-if="detailInfo != null">
        <el-descriptions column=2 border>
            <el-descriptions-item label="년도">{{ detailInfo.incomeYear }}</el-descriptions-item>
            <el-descriptions-item label="월">{{ detailInfo.incomeMonth }}</el-descriptions-item>
            <el-descriptions-item label="지출항목">{{ detailInfo.incomeCategory }}</el-descriptions-item>
            <el-descriptions-item label="지출액">{{ detailInfo.price }}</el-descriptions-item>
        </el-descriptions>
        <div class="mt-2" align="right">
            <el-button type="info" @click.native="moveEdit(id)">수정</el-button>
        </div>
    </div>
</template>
<script>

export default {
    async asyncData({params}) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            id: null,
            detailInfo: null,
        }
    },
    methods: {
        async getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$incomeConstants.DO_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.data
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveEdit(id) {
            let linkBaseUrl = '/income/edit/'
            this.$router.push(`${linkBaseUrl}${id}`)
        },
    },
    created() {
        this.getDetail()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'INCOME_DETAIL')
    },
}
</script>
