<template>
    <div>
        <div align="right">
            <el-button type="success" circle @click.native="moveCreate">등록</el-button>
        </div>
        <el-table
            @row-click="moveDetail"
            :data="list"
            class="mt-2 mb-2"
            style="width: 100%">
            <el-table-column
                prop="id"
                label="No."
                width="80"
                align="center">
            </el-table-column>
            <el-table-column
                prop="incomeYear"
                label="년도"
                align="center">
            </el-table-column>
            <el-table-column
                prop="incomeMonth"
                label="월"
                align="center">
            </el-table-column>
            <el-table-column
                prop="incomeCategory"
                label="지출항목"
                align="center">
            </el-table-column>
            <el-table-column
                prop="price"
                label="지출액"
                align="center">
            </el-table-column>
        </el-table>
        <el-pagination
            background
            small
            layout="prev, pager, next"
            :total="totalItemCount"
            :current-page="page"
            @current-change="setPage"
        >
        </el-pagination>
    </div>
</template>
<script>
export default {
    data() {
        return {
            list: [],
            page: 1,
            totalItemCount: 0,
        }
    },
    methods: {
        setPage(page) {
            this.page = page
            this.getList()
        },
        getList() {
            let payload = {
                page: this.page,
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$incomeConstants.DO_LIST, payload)
                .then((res) => {
                    this.list = res.data.list
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
        moveCreate() {
            this.$router.push('/income/form')
        },
        moveDetail(row) {
            let linkBaseUrl = '/income/detail/'
            let id = row.id
            this.$router.push(`${linkBaseUrl}${id}`)
        },
    },
    created() {
        this.getList()
    },
}
</script>
