<template>
    <div>
        <div v-if="detailInfo != null">
            상품타입: {{ detailInfo.sellProductType }}<br />
            상품명: {{ detailInfo.productName }}<br />
            가격: {{ detailInfo.unitPrice }}<br />
            상태: {{ detailInfo.isEnabled }}<br />
        </div>
    </div>
</template>
<script>
export default {
    middleware: 'auth',
    asyncData({ params }) {
        return {
            id: params.id
        }
    },
    // validate({ params }) {
    //     return /^\d+$/.test(params.id)
    // },
    data() {
        return {
            id: null,
            detailInfo: null,
        }
    },
    methods: {
        async getDetail() {
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            await this.$store.dispatch(this.$sellProductConstants.DO_DETAIL, {id: this.id})
                .then((res) => {
                    this.detailInfo = res.data.data
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
    },
    created() {
        this.getDetail()
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'SELL_PRODUCT_DETAIL')
    },
}
</script>
