<template>
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="auto">
        <el-row>
            <el-col :span="10">
                <el-form-item label="급여타입" prop="moneyType">
                    <el-select v-model="ruleForm.moneyType" placeholder="급여타입을 선택해주세요">
                        <el-option label="연봉" value="WAGE"></el-option>
                        <el-option label="시급" value="SALARY"></el-option>
                    </el-select>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="10">
                <el-form-item label="세전금액" prop="beforeMoney">
                    <el-input v-model="ruleForm.beforeMoney" placeholder="세전금액을 입력해주세요"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="10">
                <el-form-item label="국민연금" prop="nationalPension">
                    <el-input v-model="ruleForm.nationalPension" placeholder="국민연금을 입력해주세요"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="10">
                <el-form-item label="건강보험" prop="healthInsurance">
                    <el-input v-model="ruleForm.healthInsurance" placeholder="건강보험을 입력해주세요"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="10">
                <el-form-item label="장기요양보험" prop="longTermCareInsurance">
                    <el-input v-model="ruleForm.longTermCareInsurance" placeholder="장기요양보험을 입력해주세요"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="10">
                <el-form-item label="고용보험" prop="employmentInsurance">
                    <el-input v-model="ruleForm.employmentInsurance" placeholder="고용보험을 입력해주세요"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="10">
                <el-form-item label="산재보험" prop="industrialAccidentInsurance">
                    <el-input v-model="ruleForm.industrialAccidentInsurance" placeholder="산재보험을 입력해주세요"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="10">
                <el-form-item label="소득세" prop="incomeTax">
                    <el-input v-model="ruleForm.incomeTax" placeholder="소득세를 입력해주세요"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="10">
                <el-form-item label="지방소득세" prop="localIncomeTax">
                    <el-input v-model="ruleForm.localIncomeTax" placeholder="지방소득세를 입력해주세요"></el-input>
                </el-form-item>
            </el-col>
        </el-row>
        <el-row>
            <el-col :span="10">
                <el-form-item>
                    <el-button type="primary" @click.native="submitForm">등록</el-button>
                </el-form-item>
            </el-col>
        </el-row>
    </el-form>
</template>
<script>
export default {
    async asyncData({params}) {
        return {
            id: params.id
        }
    },
    data() {
        return {
            memberId: null,
            ruleForm: {
                moneyType: '',
                beforeMoney: 0,
                nationalPension: 0,
                healthInsurance: 0,
                longTermCareInsurance: 0,
                employmentInsurance: 0,
                industrialAccidentInsurance: 0,
                incomeTax: 0,
                localIncomeTax: 0,
            },
            rules: {
                moneyType: [
                    { required: true, message: '직급을 선택해주세요', trigger: 'change' }
                ],
                beforeMoney: [
                    { required: true, message: '세전금액을 입력해주세요', trigger: 'blur' },
                ],
                nationalPension: [
                    { required: true, message: '국민연금을 입력해주세요', trigger: 'blur' },
                ],
                healthInsurance: [
                    { required: true, message: '건강보험을 입력해주세요', trigger: 'blur' },
                ],
                longTermCareInsurance: [
                    { required: true, message: '장기요양보험을 입력해주세요', trigger: 'blur' },
                ],
                employmentInsurance: [
                    { required: true, message: '고용보험을 입력해주세요', trigger: 'blur' },
                ],
                industrialAccidentInsurance: [
                    { required: true, message: '산재보험을 입력해주세요', trigger: 'blur' },
                ],
                incomeTax: [
                    { required: true, message: '소득세를 입력해주세요', trigger: 'blur' },
                ],
                localIncomeTax: [
                    { required: true, message: '지방소득세를 입력해주세요', trigger: 'blur' },
                ],
            }
        };
    },
    methods: {
        submitForm() {
            let formName = 'ruleForm'
            this.$refs[formName].validate((valid) => {
                if (valid) {
                    this.setData()
                } else {
                    return false;
                }
            });
        },
        setData() {
            let payload = {
                memberId: this.id,
                list: {
                    moneyType: this.ruleForm.moneyType,
                    beforeMoney: Number(this.ruleForm.beforeMoney),
                    nationalPension: Number(this.ruleForm.nationalPension),
                    healthInsurance: Number(this.ruleForm.healthInsurance),
                    longTermCareInsurance: Number(this.ruleForm.longTermCareInsurance),
                    employmentInsurance: Number(this.ruleForm.employmentInsurance),
                    industrialAccidentInsurance: Number(this.ruleForm.industrialAccidentInsurance),
                    incomeTax: Number(this.ruleForm.incomeTax),
                    localIncomeTax: Number(this.ruleForm.localIncomeTax)
                }
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$moneyConstants.DO_CREATE, payload)
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                    this.$router.replace(`/money/list`)
                })
                .catch(err => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
    },
    mounted() {
        this.$store.commit(this.$menuConstants.FETCH_SELECTED_MENU, 'MONEY_ADD')
    },
}
</script>
