<template>
    <div>
        <el-form ref="form" :model="form" label-width="auto">
            <el-form-item label="상품id" prop="productId">
                <el-input v-model="form.productId"></el-input>
            </el-form-item>
            <el-form-item label="재고수량" prop="stockQuantity">
                <el-input v-model="form.stockQuantity"></el-input>
            </el-form-item>
            <el-form-item label="최소기준수량" prop="minQuantity">
                <el-input v-model="form.minQuantity"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" @click.native="doSetData()">등록</el-button>
            </el-form-item>
        </el-form>
    </div>
</template>
<script>
export default {
    data() {
        return {
            form: {
                productId: '',
                stockQuantity: '',
                minQuantity: ''
            },
        }
    },
    methods: {
        doSetData() {
            let formName = 'form'
            this.$refs[formName].validate(valid => {
                if (valid) {
                    this.setData()
                } else {
                    return false
                }
            })
        },
        setData() {
            let payload = {
                productId: this.form.productId,
                stockQuantity: this.form.stockQuantity,
                minQuantity: this.form.minQuantity
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$stockConstants.DO_DATA, payload)
                // 성공 했을때.
                .then(res => {
                    this.$toast.success(res.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                // 실패 했을때.
                .catch(err => {
                    console.log(err)
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
    }
}
</script>
