<template>
    <div>
        <el-row>
            <el-col :span="12">
                <div class="flex-box">
                    <el-select class="mr-1" v-model="searchYear" placeholder="년도">
                        <el-option v-for="(item, index) in yearList" :key="index" :value="item.value">{{ item.name }}</el-option>
                    </el-select>
                    <el-select class="mr-1" v-model="searchMonth" placeholder="월">
                        <el-option v-for="(n, index) in 12" :key="index" :value="n < 10 ? '0' + n : n">{{ n < 10 ? '0' + n : n }}</el-option>
                    </el-select>
                    <el-select class="mr-1" v-model="searchDay" placeholder="일">
                        <el-option v-for="(n, index) in 31" :key="index" :value="n < 10 ? '0' + n : n">{{ n < 10 ? '0' + n : n }}</el-option>
                    </el-select>
                    <el-button type="success" circle @click.native="getList">검색</el-button>
                </div>
            </el-col>
        </el-row>
        <el-table class="mt-2 mb-2"
                  :data="list"
                  style="width: 100%">
            <el-table-column
                align="center"
                prop="id"
                label="No."
                width="80">
            </el-table-column>
            <el-table-column
                align="center"
                prop="name"
                label="이름">
            </el-table-column>
            <el-table-column
                align="center"
                prop="dateAttendance"
                label="날짜">
            </el-table-column>
            <el-table-column
                align="center"
                prop="timeAttendance"
                label="출근시간">
            </el-table-column>
            <el-table-column
                align="center"
                prop="timeLeaveWork"
                label="퇴근시간">
            </el-table-column>
        </el-table>
        <el-pagination
            background
            small
            layout="prev, pager, next"
            :total="totalItemCount"
            :current-page="page"
            @current-change="setPage"
        >
        </el-pagination>
    </div>
</template>
<script>
export default {
    data() {
        return {
            yearList: [
                {name: new Date().getFullYear(), value: new Date().getFullYear()},
                {name: new Date().getFullYear() - 1, value: new Date().getFullYear() - 1},
                {name: new Date().getFullYear() - 2, value: new Date().getFullYear() - 2},
                {name: new Date().getFullYear() - 3, value: new Date().getFullYear() - 3},
            ],
            list: [],
            page: 1,
            totalItemCount: 0,

            searchYear: null,
            searchMonth: null,
            searchDay: null,
            searchName: null
        }
    },
    methods: {
        setPage(page) {
            this.page = page
            this.getList()
        },
        getList() {
            let payload = {
                page: this.page,
                params: {
                    searchYear: this.searchYear,
                    searchMonth: this.searchMonth,
                    searchDay: this.searchDay,
                    searchName: this.searchName
                }
            }
            this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, true)
            this.$store.dispatch(this.$attendanceConstants.DO_LIST, payload)
                .then((res) => {
                    this.list = res.data.list
                    this.totalItemCount = res.data.totalItemCount
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
                .catch((err) => {
                    this.$toast.error(err.response.data.msg)
                    this.$store.commit(this.$customLoadingConstants.FETCH_LOADING_SHOW, false)
                })
        },
    },
    created() {
        this.getList()
    },
}
</script>
